{% extends "base.html"%}
{% block  layouttitle %}
{{layout["title"]}}
{% endblock %}

{% block content %}
<!--Insert content here-->
<!-- IFRAME -->

<div class="panel-group" id="accordion">
    {% if events|length == 0 %}
        {% set button_action = "disabled" %}
    {% else %}
        {% set button_action = "" %}
    {% endif %}
    <div class="container">
        <div class="row">
            <div class="flex-column" style="border-style:none;width:100%">
                <div class="panel panel-default">
                    <a data-toggle="collapse" data-parent="#accordion" href="#custom1">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                 <strong>Create Custom Event: Ratio</strong><i class="indicator glyphicon glyphicon-chevron-left  pull-right"></i>
                            </h4>
                        </div>
                    </a>
                    <div id="custom1" class="panel-collapse collapse">
                        <form action="{{url_for('CustomEventsView.add_custom_event')}}" method="post">
                            <div class="flex-row">
                                 <div class="flex-column" style="width:45%">
                                     <select class="selectpicker" data-width="100%" name="event1" id="event1">
                                        {% for event in events %}
                                            {% if " / " not in event and "Trace" not in event %}
                                                <option value="{{event}}" >{{event}}</option>
                                            {% endif %}
                                        {% endfor %}
                                     </select>
                                 </div>
                                <div class="flex-column" style="width:10%;text-align:center"><centre><strong><h2 style="margin:0px">/</h2></strong></centre></div>
                                 <div class="flex-column" style="width:45%">
                                     <select class="selectpicker" data-width="100%" name="event2" id="event2">
                                        {% for event in events %}
                                            {% if " / " not in event and "Trace" not in event %}
                                                <option value="{{event}}" >{{event}}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                 </div>
                            </div>
                            <div class="flex-row">
                                <div class="flex-column" style="border-style:none;width:100%;height:100%"><input {{button_action}} type="submit" class="btn btn-basic btn_progress" id="event_ratio_btn" name="event_ratio_btn" value="Create Event"></div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="flex-column" style="border-style:none;width:100%">
                <div class="panel panel-default">
                    <a data-toggle="collapse" data-parent="#accordion" href="#custom2">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                 <strong>Create Custom Event: Sum</strong><i class="indicator glyphicon glyphicon-chevron-left  pull-right"></i>
                            </h4>
                        </div>
                    </a>
                    <div id="custom2" class="panel-collapse collapse">
                        <form action="{{url_for('CustomEventsView.add_custom_event')}}" method="post">
                            <div class="flex-row">
                                 <div class="flex-column" style="width:45%">
                                     <select class="selectpicker" data-width="100%" name="event3" id="event3">
                                        {% for event in events %}
                                            {% if " / " not in event and "Trace" not in event %}
                                                <option value="{{event}}" >{{event}}</option>
                                            {% endif %}
                                        {% endfor %}
                                     </select>
                                 </div>
                                <div class="flex-column" style="width:10%;text-align:center"><centre><strong><h2 style="margin:0px">+</h2></strong></centre></div>
                                 <div class="flex-column" style="width:45%">
                                     <select class="selectpicker" data-width="100%" name="event4" id="event4">
                                        {% for event in events %}
                                            {% if " / " not in event and "Trace" not in event %}
                                                <option value="{{event}}" >{{event}}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                 </div>
                            </div>
                            <div class="flex-row">
                                <div class="flex-column" style="border-style:none;width:100%;height:100%"><input {{button_action}} type="submit" class="btn btn-basic btn_progress" id="event_sum_btn" name="event_sum_btn" value="Create Event"></div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="flex-column" style="border-style:none;width:100%">
                <div class="panel panel-default">
                    <a data-toggle="collapse" data-parent="#accordion" href="#custom3">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                 <strong>Create Custom Event: Derived</strong><i class="indicator glyphicon glyphicon-chevron-left  pull-right"></i>
                            </h4>
                        </div>
                    </a>
                    <div id="custom3" class="panel-collapse collapse">
                        <form action="{{url_for('CustomEventsView.add_custom_event')}}" method="post">
                            <div class="flex-row">
                                 <div class="flex-column" style="width:100%">
                                     <select class="selectpicker" data-width="100%" name="event5" id="event5">
                                        {% for event in derived_events %}
                                            <option value="{{event}}" >{{event}}</option>
                                        {% endfor %}
                                     </select>
                                 </div>
                            </div>
                            <div class="flex-row">
                                <div class="flex-column" style="border-style:none;width:100%;height:100%"><input {{button_action}} type="submit" class="btn btn-basic btn_progress" id="derived_event_btn" name="derived_event_btn" value="Create Event"></div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">

        function addEvent(obj, evType, fn) {
            if (obj.addEventListener) {
                obj.addEventListener(evType, fn, false);
                return true;
            } else if (obj.attachEvent) {
                let r = obj.attachEvent("on" + evType, fn);
                return r;
            } else {
                alert("Handler could not be attached");
            }
        }

        window.onload = function()  {
            let btns = document.getElementsByClassName('btn_progress');
            for (let i=0; i<btns.length; ++i) {
                addEvent(btns[i], "click", function() {
                    $("body").css("cursor", "progress");
                });
            }
        }

        function toggleChevron(e) {
            $(e.target).prevUntil('.panel .panel-default')
                .find("i.indicator")
                .toggleClass('glyphicon-chevron-left glyphicon-chevron-down');
        }
        $('#accordion').on('hidden.bs.collapse', toggleChevron);
        $('#accordion').on('shown.bs.collapse', toggleChevron);

        function clear_loaded_data() {
            $("#clear_data_form").submit();
        }
    </script>
</div>


{% endblock %}

{% block layoutfooter %}
<form action="{{url_for('clear_loaded_data')}}" method="post" id="clear_data_form">
    <div class="btn-group" data-toggle="buttons">
        <label style="margin:1px;margin-right:12px;" class="btn btn-primary" onclick="clear_loaded_data()">
            <input type="radio" autocomplete="off"> Clear Results
        </label>
    </div>
    {{layout["footer"]}}
</form>
{% endblock %}
